﻿@model IEnumerable<Bengkel.ViewModel.Clerk.VMVariant>

@section scripts
{
    <script src="../../Assets/Angular/angular/angular.min.js"></script>
}
<div id="recentPosts" ng-app ="" ng-con>
    <!-- Recent Posts -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm("Create", "Factories", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input ng-model="" type="submit" value="Tambah" class="btn btn-info" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <!-- End Recent Posts -->
</div>
