﻿
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../../Assets/images/favicon.png">
    <title>Monster Admin Template - The Most Complete & Trusted Bootstrap 4 Admin Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../../Assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="../../../Assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="../../../Assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="../../../Assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="../../../Assets/plugins/css-chart/css-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../../Assets/DependencyAdminPro/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="../../../Assets/DependencyAdminPro/css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../../../Assets/plugins/jquery/jquery.min.js"></script>
    <script src="../../../PublicAssets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    
    
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-85622565-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body class="fix-header fix-sidebar card-no-border">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
<nav class="navbar top-navbar navbar-expand-md navbar-light">
<!-- ============================================================== -->
<!-- Logo -->
<!-- ============================================================== -->
<div class="navbar-header">
    <a class="navbar-brand" href="../admin/index.html">
        <!-- Logo icon -->
        <b>
            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
            <!-- Dark Logo icon -->
            <img src="../../../Assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
            <!-- Light Logo icon -->
            <img src="../../../Assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
        </b>
        <!--End Logo icon -->
        <!-- Logo text -->
        <span>
            <!-- dark Logo text -->
            <img src="../../../Assets/images/logo-text.png" alt="homepage" class="dark-logo" />
            <!-- Light Logo text -->
            <img src="../../../Assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
        </span>
    </a>
</div>
<!-- ============================================================== -->
<!-- End Logo -->
<!-- ============================================================== -->
<div class="navbar-collapse">
<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav mr-auto mt-md-0 ">
<!-- This is  -->
<li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
<li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="icon-arrow-left-circle"></i></a> </li>
<!-- ============================================================== -->
<!-- Comment -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Comment -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Messages -->
<!-- ============================================================== -->
<li class="nav-item dropdown">
    
</li>
<!-- ============================================================== -->
<!-- End Messages -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Messages -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End Messages -->
<!-- ============================================================== -->
</ul>
<!-- ============================================================== -->
<!-- User profile and search -->
<!-- ============================================================== -->
<ul class="navbar-nav my-lg-0">
    <li class="nav-item hidden-sm-down">
        
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../../../Assets/images/users/1.jpg" alt="user" class="profile-pic" /></a>
        <div class="dropdown-menu dropdown-menu-right animated flipInY">
            <ul class="dropdown-user">
                <li>
                    <div class="dw-user-box">
                        <div class="u-img"><img src="../../../Assets/images/users/1.jpg" alt="user"></div>
                        <div class="u-text">
                            <h4>Steave Jobs</h4>
                            <p class="text-muted">varun@gmail.com</p><a href="../admin/profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                        </div>
                    </div>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
            </ul>
        </div>
    </li>
    
</ul>
</div>
</nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
            <!-- User profile image -->
            <div class="profile-img"> <img src="../../../Assets/images/users/1.jpg" alt="user" /> </div>
            <!-- User profile text-->
            <div class="profile-text">
                <a href="#" class="dropdown-toggle link u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Markarn Doe <span class="caret"></span></a>
                <div class="dropdown-menu animated flipInY">
                    <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                    <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                    <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                    <div class="dropdown-divider"></div> <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                    <div class="dropdown-divider"></div> <a href="../admin/login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                </div>
            </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap">Menu Karyawan</li>
                <li>
                    <a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-plus-circle"></i><span class="hide-menu">Produk</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a class="Pabrikan" href="#" id="ngPabikan">Pabrikan</a></li>
                        <li><a class="Variant" href="#" id="ngMerk">Varian</a></li>
                        <li><a class="Parts" href="#" id="ngKomponen">Part</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-face-profile"></i><span class="hide-menu">Mitra</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#" id="ngPemasok">Supplier</a></li>
                        <li><a href="#" id="ngPembeli">Kustomer</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-cart"></i><span class="hide-menu">Transaksi</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="app-calendar.html" id="ngBarangMasuk">Pembelian Part</a></li>
                        <li><a href="app-email.html" id="ngBarangKeluar">Perbaikan</a></li>
                    </ul>
                </li>
                
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
    </div>
    <!-- End Bottom points-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <div class="col-md-6 col-4 align-self-center">
                <!--left title bar-->
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-12">
                <div class="card">
                    @RenderBody()
                    <div class="card-body" id="bodyContent">
                        <!--body here-->

                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>

        <!-- Row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->

        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
        © 2017 Monster Admin by wrappixel.com
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->

<!-- Bootstrap tether Core JavaScript -->
<script src="../../../Assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="../../../Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="../../../Assets/DependencyAdminPro/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="../../../Assets/DependencyAdminPro/js/waves.js"></script>
<!--Menu sidebar -->
<script src="../../../Assets/DependencyAdminPro/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="../../../Assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="../../../Assets/DependencyAdminPro/js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<!-- chartist chart -->
<script src="../../../Assets/plugins/chartist-js/dist/chartist.min.js"></script>
<script src="../../../Assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
<!-- Chart JS -->
<script src="../../../Assets/plugins/echarts/echarts-all.js"></script>
<script src="../../../Assets/DependencyAdminPro/js/dashboard5.js"></script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="../../../Assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("LoadFactory", "Clerk")",
            beforeSend: function () {
                console.log("before send");
            },
            success: function (response) {
                $("#bodyContent").replaceWith(response);
            },
            error: function (request, status, error) {
                console.log(error);
            },
            complete: function () {
                console.log("finish");
            }
        });

        console.log("helo from lay out view");
        $('#ngPabikan').click(function (e) {
            e.preventDefault();
            var item = $(this).attr("href");
            $.ajax({
                type: "GET",
                url: "@Url.Action("LoadFactory", "Clerk")",
                beforeSend: function () {
                    console.log("before send");
                },
                success: function (response) {
                    $("#bodyContent").replaceWith(response);
                },
                error: function (request, status, error) {
                    console.log(error);
                },
                complete: function () {
                    console.log("finish");
                }
            });
        });


        $('#ngMerk').click(function (e) {
            e.preventDefault();
            var item = $(this).attr("href");
            // alert("cek dari ng merk");
            $.ajax({
                type: "GET",
                url: "@Url.Action("loadVariantPage", "Clerk")",
                beforeSend: function () {
                    console.log("before send");
                },
                success: function (response) {
                    $("#bodyContent").replaceWith(response);
                },
                error: function (request, status, error) {
                    console.log(error);
                },
                complete: function () {
                    console.log("finish");
                }
            });
        });

        $('#ngKomponen').click(function (e) {
            e.preventDefault();
            var item = $(this).attr("href");
            // alert("cek dari ng merk");
            $.ajax({
                type: "GET",
                url: "@Url.Action("loadPartPage", "Clerk")",
                beforeSend: function () {
                    console.log("before send");
                },
                success: function (response) {
                    $("#bodyContent").replaceWith(response);
                },
                error: function (request, status, error) {
                    console.log(error);
                },
                complete: function () {
                    console.log("finish");
                }
            });
        });

        $('#ngPemasok').click(function (e) {
            e.preventDefault();
            var item = $(this).attr("href");
            // alert("cek dari ng merk");
            $.ajax({
                type: "GET",
                url: "@Url.Action("loadSupplier", "Clerk")",
                beforeSend: function () {
                    console.log("before send");
                },
                success: function (response) {
                    $("#bodyContent").replaceWith(response);
                },
                error: function (request, status, error) {
                    console.log(error);
                },
                complete: function () {
                    console.log("finish");
                }
            });
        });

        $('#ngPembeli').click(function (e) {
            e.preventDefault();
            var item = $(this).attr("href");
            // alert("cek dari ng merk");
            $.ajax({
                type: "GET",
                url: "@Url.Action("loadCustomer", "Clerk")",
                beforeSend: function () {
                    console.log("before send");
                },
                success: function (response) {
                    $("#bodyContent").replaceWith(response);
                },
                error: function (request, status, error) {
                    console.log(error);
                },
                complete: function () {
                    console.log("finish");
                }
            });
        });

        $('#ngBarangMasuk').click(function (e) {
            e.preventDefault();
            var item = $(this).attr("href");
            // alert("cek dari ng merk");
            $.ajax({
                type: "GET",
                url: "@Url.Action("loadPembelian", "Clerk")",
                beforeSend: function () {
                    console.log("before send");
                },
                success: function (response) {
                    $("#bodyContent").replaceWith(response);
                },
                error: function (request, status, error) {
                    console.log(error);
                },
                complete: function () {
                    console.log("finish");
                }
            });
        });

        $('#ngBarangKeluar').click(function (e) {
            e.preventDefault();
            var item = $(this).attr("href");
            // alert("cek dari ng merk");
            $.ajax({
                type: "GET",
                url: "@Url.Action("loadPenjualan", "Clerk")",
                beforeSend: function () {
                    console.log("before send");
                },
                success: function (response) {
                    $("#bodyContent").replaceWith(response);
                },
                error: function (request, status, error) {
                    console.log(error);
                },
                complete: function () {
                    console.log("finish");
                }
            });
        });

    });

</script>
    @RenderSection("scripts", required: false)
    @Html.RenderScripts()  
</body>


</html>

