﻿<script src="../../../Assets/plugins/datatables/jquery.dataTables.min.js"></script>

<div id="bodyContent">
    <!-- Recent Posts -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Menu Kustomer</h4>
                    <form id="formFactory" class="floating-labels m-t-40">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group m-b-40">
                                    <input type="text" class="form-control" id="ngNoPol" required>
                                    <span class="bar"></span>
                                    <label for="ngNoPol">Nomor Polisi</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-b-40">
                                    <input type="text" class="form-control" id="ngOwner" required>
                                    <span class="bar"></span>
                                    <label for="ngOwner">Nama Pemilik</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-b-40">
                                    <input type="number" class="form-control" id="ngTahun" required>
                                    <span class="bar"></span>
                                    <label for="ngTahun">Tahun Kendaraan</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-b-40">
                                    <select class="form-control p-0" id="ngCustVar" required>
                                        <option>Pilih Pabrikan</option>
                                    </select><span class="bar"></span>
                                    <label for="ngCustVar">Pilih Variant Kendaraan</label>
                                </div>
                            </div>
                        </div>



                        <button type="button" class="btn btn-info" id="btnPushCust">Tambah Unit Pelanggan</button>
                        <button type="button" class="btn btn-warning" id="btnPutCust" hidden="hidden">Edit Unit</button>
                        <button type="button" class="btn btn-danger" id="btnDelCust" hidden="hidden">Hapus Unit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Data Kustomer</h4>
                    <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                    <div class="table-responsive m-t-40">
                        <table id="tableCust" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nomor Polisi</th>
                                <th>Variant</th>
                                <th>Nama Pemilik</th>
                                <th>Tahun</th>
                                <th>Created</th>
                                <th>Create Date</th>
                                <th>Updated</th>
                                <th>Update Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var arrVarr = [];
        var arrSelect = [];
        var selectPart = {};

        var table = $('#tableCust').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": true,
            "ordering": false,
            "paging": true,
            "ajax": {
                "url": "http://localhost:41393/api/getCustDataTable",
                "type": "GET"
            },
            "columns": [
                { "data": "Id" },
                { "data": "NoPol" },
                { "data": "Variant.Name" },
                { "data": "Owner" },
                { "data": "Tahun" },
                { "data": "CreatedBy" },
                { "data": "Created" },
                { "data": "UpdateBy" },
                { "data": "Updated" },
                {
                    data: null,
                    className: "center",
                    orderable: false,
                    defaultContent: '<a href="#" class="action_edit"><i class="fa fa-pencil text-inverse m-r-10"></i></a>'
                }
            ]
        });
//
        $.ajax({
            type: "GET",
            url: "http://localhost:41393/api/getVariantDropDown",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: {},
            success: function (result) {
                $.each(result, function (i) {
                    $('#ngCustVar').append($('<option></option>').val(result[i].Id).html(result[i].Name));
                });
            },
            failure: function () {
                alert("Error");
            }
        });
//
        $('#btnPushCust').click(function (e) {
            e.preventDefault();
            console.log(arrVarr);
            var cust = {};
            cust.NoPol = $("#ngNoPol").val();
            cust.Tahun = $("#ngTahun").val();
            cust.Owner = $("#ngOwner").val();
            cust.Variant = {};
            cust.Variant.ID = $("#ngCustVar").val();
            var jsonPost = JSON.stringify(cust);
            $.ajax({
                type: "POST",
                data: jsonPost,
                url: "http://localhost:41393/api/Customers",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                beforeSend: function () {
                    console.log("before send update viewer");
                },
                success: function (response) {
                    console.log(response);
                    if (response.status) {
                        table.ajax.reload();
                    }
                },
                error: function (request, status, error) {
                    console.log(error);
                },
                complete: function () {
                    console.log("finish add viewer");
                }
            });
        });
//
//        $('#tablePart').on('click', 'a.action_edit', function (e) {
//            e.preventDefault();
//            arrSelect = [];
//            selectPart = table.row($(this).closest('tr')).data();
//            document.getElementById("ngPartName").value = selectPart.Name;
//            document.getElementById("ngPartStock").value = selectPart.Stock;
//            document.getElementById("ngPartPrice").value = selectPart.Price;
//            for (var i = 0; i < selectPart.Variants.length; i++) {
//
//                arrSelect.push(selectPart.Variants[i].Id.toString());
//            }
//            console.log(arrSelect);
//            $("#ngPartVariant").select2('val', arrSelect).trigger('change');
//
//            $('#btnPutPart').prop("hidden", false);
//            $('#btnDelPart').prop("hidden", false);
//        });

    });

</script>