﻿
<script src="../../../Assets/plugins/datatables/jquery.dataTables.min.js"></script>

<div id="bodyContent">
    <!-- Recent Posts -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Menu Supplier</h4>
                    <form id="formSupplier" class="floating-labels m-t-40">
                        <div class="form-group m-b-40">
                            <input type="text" class="form-control" id="ngSupplier" required>
                            <span class="bar"></span>
                            <label for="ngSupplier">Masukan Nama Supplier</label>
                        </div>
                        <button type="button" class="btn btn-info" id="btnPushSup">Tambah Supplier</button>
                        <button type="button" class="btn btn-warning" id="btnPutSup" hidden="hidden">Edit Supplier</button>
                        <button type="button" class="btn btn-danger" id="btnDelSup" hidden="hidden">Hapus Supplier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Data Supplier</h4>
                    <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                    <div class="table-responsive m-t-40">
                        <table id="tableSupplier" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nama Suppier</th>
                                    <th>Created</th>
                                    <th>Create Date</th>
                                    <th>Updated</th>
                                    <th>Update Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Recent Posts -->
</div>
<script>
    var selectFactory = {} ;
    $(document).ready(function () {
        console.log("hello from partial Supplier");
        var table = $('#tableSupplier').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": true,
            "ordering": false,
            "paging": true,
            "ajax": "http://localhost:41393/api/getSupplierDataTable",
            "columns": [
                { "data": "Id" },
                { "data": "Name" },
                { "data": "CreatedBy"},
                { "data": "Created"},
                { "data": "UpdateBy"},
                { "data": "Updated"},
                {
                    data: null,
                    className: "center",
                    orderable: false,
                    defaultContent: '<a href="" class="action_edit"><i class="fa fa-pencil text-inverse m-r-10"></i></a>'
                }
            ]
        });
        $('#btnPushSup').click(function (e) {
            e.preventDefault();
            var item = $(this).attr("href");
            var name = $('#ngSupplier').val();
            var jsonData = { Name : name }
            var jsonPost = JSON.stringify(jsonData);
            $.ajax({
                type: "POST",
                data: jsonPost,
                url: "http://localhost:41393/api/Suppliers",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                beforeSend: function () {
                    console.log("before send update viewer");
                },
                success: function (response) {
                    console.log(response);
                    table.ajax.reload();

                },
                error: function (request, status, error) {
                    console.log(error);
                },
                complete: function () {
                    console.log("finish add viewer");

                }
            });
        });
//
//        $('#tableFactory').on('click', 'a.action_edit', function (e) {
//            e.preventDefault();
//            selectFactory = table.row($(this).closest('tr')).data();
//            document.getElementById("ngFactory").value = selectFactory.Name;
//            $('#btnPutFactory').prop("hidden", false);
//            $('#btnDelFactory').prop("hidden", false);
//        });
//
//        $('#btnPutFactory').click(function(e) {
//            e.preventDefault();
//            selectFactory.Name = $('#ngFactory').val();
//            $.ajax({
//                url: 'http://localhost:41393/api/Factories/'+selectFactory.Id ,
//                type: 'PUT',
//                dataType: 'json',
//                data: selectFactory,
//                success: function (data) {
//                    console.log(data);
//                    if (data.status) {
//                        document.getElementById('btnPutFactory').style.visibility = 'hidden';
//                        document.getElementById('btnDelFactory').style.visibility = 'hidden';
//                        table.ajax.reload();
//                    } else {
//                        alert("Update gagal");
//                    }
//                },
//                error: function (xhr, textStatus, errorThrown) {
//                    console.log('Error in Operation');
//                }
//
//            });
//        });

    });
</script>


