﻿<script src="../../../Assets/plugins/datatables/jquery.dataTables.min.js"></script>
<div id="bodyContent">
    <!-- Recent Posts -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Menu Kustomer</h4>
                    <form id="formFactory" class="floating-labels m-t-40">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group m-b-40">
                                    <input type="text" class="form-control" id="ngPenjNoPol" required>
                                    <span class="bar"></span>
                                    <label for="ngPenjNoPol">Nomor Polisi</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-b-40">
                                    <input type="text" class="form-control" id="ngPenjOwner" required>
                                    <span class="bar"></span>
                                    <label for="ngPenjOwner">Nama Pemilik</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-b-40">
                                    <input type="number" class="form-control" id="ngPenjTahun" required>
                                    <span class="bar"></span>
                                    <label for="ngPenjTahun">Tahun Kendaraan</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-b-40">
                                    <select class="form-control p-0" id="ngPenjVar" required>
                                        <option>Pilih Pabrikan</option>
                                    </select><span class="bar"></span>
                                    <label for="ngPenjVar">Pilih Variant Kendaraan</label>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-info" id="btnCekKendaraan">Cek Unit Pelanggan</button>
                        <button type="button" class="btn btn-primary" id="btnPenjAddUnit" hidden>Tambah Unit Pelanggan</button>
                        
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Menu Penjualan</h4>
                    <h4 class="card-title">Data Part</h4>
                    <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                    <div class="table-responsive m-t-40">
                        <table id="tablePart" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nama Part</th>
                                <th>Harga Part</th>
                                <th>Stok Part</th>
                                <th>Harga Jual</th>
                                <th>Cart</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="box-title m-t-40">Detail Item</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nama Part</label>
                                    <input type="text" class="form-control"  id="ngDetBeliNama">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Harga Satuan</label>
                                    <input type="number" class="form-control"  id="ngHargaSatuan">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Total Bayar</label>
                                    <input type="number" class="form-control"  id="ngTotalBayar">
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Jumlah Beli</label>
                                    <input type="number" class="form-control" id="ngJmlBeli">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success" id="btnAddToCart"> <i class="fa fa-check"></i> Add To Cart</button>
                        <button type="button" class="btn btn-inverse">Cancel</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Menu Service</h4>
                    <h4 class="card-title">Data Part</h4>
                    <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                    <div class="table-responsive m-t-40">
                        <table id="tableCart" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nama Part</th>
                                <th>Jml Beli</th>
                                <th>Total Bayar</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Jumlah Bayar Total</label>
                                <input type="number" class="form-control" id="ngJmlBayarTotal">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success" id="btnPushCart"> <i class="fa fa-check"></i>Bayar Pembelian</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var itemCart = {};
        var arrCart = [];
        var selectPart = {};
        var totalBayar = 0;
        var unit = {};
        console.log("hello from partial penjualan");

        var t = $('#tableCart').DataTable();

        var table = $('#tablePart').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": true,
            "ordering": false,
            "paging": true,
            "ajax": "http://localhost:41393/api/getPenjualanDT",
            "columns": [
                { "data": "Id" },
                { "data": "Name" },
                { "data": "Price" },
                { "data": "Stock" },
                { "data": "SellPrice" },
                {
                    data: null,
                    className: "center",
                    orderable: false,
                    defaultContent: '<a href="#" class="action_edit"><i class="fa fa-cart-plus text-inverse m-r-10"></i></a>'
                }
            ]
        });

        $.ajax({
            type: "GET",
            url: "http://localhost:41393/api/getVariantDropDown",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: {},
            success: function (result) {
                $.each(result, function (i) {
                    $('#ngPenjVar').append($('<option></option>').val(result[i].Id).html(result[i].Name));
                });
            },
            failure: function () {
                alert("Error");
            }
        });

        $('#btnCekKendaraan').on('click', function (e) {
            e.preventDefault();
            var objPost = {
                status : true,
                msg: $("#ngPenjNoPol").val()
            };
            var postData = JSON.stringify(objPost);
            console.log(postData);
            $.ajax({
                type: "POST",
                url: "http://localhost:41393/api/ceknopol/",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: postData,
                success: function (result) {
                    console.log(result);
                    if (result.status) {
                        unit = result.data;
                        console.log(unit);
                        document.getElementById("ngPenjNoPol").value = unit.NoPol;
                        document.getElementById("ngPenjOwner").value = unit.Owner;
                        document.getElementById("ngPenjTahun").value = unit.Tahun;
                        document.getElementById("ngPenjVar").value = unit.Variant.ID;
//                        $("#ngPenjOwner").prop("disabled", true);
//                        $("#ngPenjTahun").prop("disabled", true);
//                        $("#ngPenjVar").prop("disabled", true);
                    } else {
                        alert("unit belum terdaftar");
                        $("#btnPenjAddUnit").prop("hidden", false);
                    }
                },
                failure: function () {
                    alert("Error");
                }
            });
        });


        $('#btnPenjAddUnit').on('click', function (e) {
            e.preventDefault();
            var cust = {};
            cust.NoPol = $("#ngPenjNoPol").val();
            cust.Tahun = $("#ngPenjTahun").val();
            cust.Owner = $("#ngPenjOwner").val();
            cust.Variant = {};
            cust.Variant.ID = $("#ngPenjVar").val();
            var jsonPost = JSON.stringify(cust);
            console.log(jsonPost);
            $.ajax({
                type: "POST",
                data: jsonPost,
                url: "http://localhost:41393/api/Customers",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                beforeSend: function () {
                    console.log("before send update viewer");
                },
                success: function (response) {
                    console.log(response);
                    if (response.status) {
                        alert("insert berhasil");
                        unit = {};
                        unit = response.data;
                        $("#btnPenjAddUnit").prop("hidden", false);
                    }
                },
                error: function (request, status, error) {
                    console.log(error);
                },
                complete: function () {
                    console.log("finish add viewer");
                }
            });
        });
        
        $('#tablePart').on('click', 'a.action_edit', function (e) {
            e.preventDefault();
            selectPart = {};
            selectPart = table.row($(this).closest('tr')).data();
            document.getElementById("ngDetBeliNama").value = selectPart.Name;
            document.getElementById("ngHargaSatuan").value = selectPart.Price;
            document.getElementById("ngTotalBayar").value = selectPart.Price;
            document.getElementById("ngJmlBeli").value = 1;
        });

        $('#ngJmlBeli').on('input', function (e) {
            document.getElementById("ngTotalBayar").value = parseInt($("#ngJmlBeli").val()) * parseInt(selectPart.Price);
            selectPart.jmlBeli = parseInt($("#ngJmlBeli").val());
        });

        $('#btnAddToCart').on('click', function (e) {
            e.preventDefault();
            console.log("dibawah selected part");
            console.log(selectPart);
            console.log(selectPart);
            var temp = 0;
            itemCart = {};
            itemCart.JmlJual = parseInt($("#ngJmlBeli").val());
            itemCart.Part = parseInt(selectPart.Id);
            for (var a = 0; a < arrCart.length; a++) {
                if (arrCart[a].Part === selectPart.Id) {
                    temp = parseInt(temp) + parseInt(arrCart[a].JmlJual);
                }
            }
            console.log("jumlah jual : " + temp);
            console.log(arrCart);
            console.log("total stok : " + selectPart.Stock);
            console.log("table cart : " + temp);
            console.log("item yang dibeli : " + itemCart.JmlJual);
            if (parseInt(selectPart.Stock) >= parseInt((parseInt(temp) + parseInt(itemCart.JmlJual)))) {
                arrCart.push(itemCart);
                console.log(itemCart);
                totalBayar = parseInt(totalBayar) + parseInt($("#ngTotalBayar").val());
                document.getElementById("ngJmlBayarTotal").value = totalBayar;
                t.row.add([
                    selectPart.Id,
                    selectPart.Name,
                    itemCart.JmlJual,
                    $("#ngTotalBayar").val()
                ]).draw(false);
            } else {
                alert("jumlah yang anda masukan terlalu banyak");
            }
//            arrCart.push(itemCart);
//            console.log(itemCart);
//            totalBayar = parseInt(totalBayar) + parseInt($("#ngTotalBayar").val());
//            document.getElementById("ngJmlBayarTotal").value = totalBayar;
//            t.row.add([
//                selectPart.Id,
//                selectPart.Name,
//                itemCart.JmlJual,
//                $("#ngTotalBayar").val()
//            ]).draw(false);
        });


//        $.ajax({
//            type: "GET",
//            url: "http://localhost:41393/api/getSuppDropDown",
//            contentType: "application/json;charset=utf-8",
//            dataType: "json",
//            data: {},
//            success: function (result) {
//                $.each(result, function (i) {
//                    $('#ngPembVar').append($('<option></option>').val(result[i].Id).html(result[i].Name));
//                });
//            },
//            failure: function () {
//                alert("Error");
//            }
//        });

        $('#btnPushCart').on('click', function (e) {
            e.preventDefault();
            var raw = { IdCust: unit.Id, datas: arrCart }
            var jsondata = JSON.stringify(raw);
            console.log(jsondata);
            $.ajax({
                type: "POST",
                data: jsondata,
                url: "http://localhost:41393/api/pushJual",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    console.log("before send update viewer");
                },
                success: function (response) {
                    //TO:DO
                    console.log(response);
                    if (response.status) {
                        arrCart = [];
                        t.clear().draw(false);
                        table.ajax.reload();
                        alert("insert berhasil");
                    }
                },
                error: function (request, status, error) {
                    //TO:DO
                    console.log(error);
                },
                complete: function () {
                    console.log("finish add viewer");

                }
            });
        });

    });
</script>