﻿<script src="../../../Assets/plugins/datatables/jquery.dataTables.min.js"></script>


<div id="bodyContent">
    <!-- Recent Posts -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Menu Merk</h4>
                    <form id="formFactory" class="floating-labels m-t-40">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group m-b-40">
                                    <input type="text" class="form-control" id="ngVariant" required>
                                    <span class="bar"></span>
                                    <label for="input1">Nama Merek Kendaraan</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-b-40">
                                    <select class="form-control p-0" id="ngIdFac" required>
                                        <option>Pilih Pabrikan</option>
                                    </select><span class="bar"></span>
                                    <label for="ngIdFac">Pabrikan</label>
                                </div>
                            </div>
                        </div>
                        
                        

                        <button type="button" class="btn btn-info" id="btnPushVariant">Tambah Variant</button>
                        <button type="button" class="btn btn-warning" id="btnPutVariant" hidden="hidden">Edit Variant</button>
                        <button type="button" class="btn btn-danger" id="btnDelVariant" hidden="hidden">Hapus Variant</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Data Variant</h4>
                    <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                    <div class="table-responsive m-t-40">
                        <table id="tableVariant" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nama Variant</th>
                                <th>Created</th>
                                <th>Create Date</th>
                                <th>Updated</th>
                                <th>Update Date</th>
                                <th>Nama Pabrikan</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var selectVariant = {};
        alert("hello from  partial variant view");
        var table = $('#tableVariant').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": true,
            "ordering": false,
            "paging": true,
            "ajax": "http://localhost:41393/api/getVariantDataTable",
            "columns": [
                { "data": "Id" },
                { "data": "Name" },
                { "data": "CreatedBy" },
                { "data": "Created" },
                { "data": "UpdateBy" },
                { "data": "Updated" },
                { "data": "Pabrikan.Name" },
                {
                    data: null,
                    className: "center",
                    orderable: false,
                    defaultContent: '<a href="#" class="action_edit"><i class="fa fa-pencil text-inverse m-r-10"></i></a>'
                }
            ]
        });
        $.ajax({
            type: "GET",
            url: "http://localhost:41393/api/getFactDropdown",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: {},
            success: function (result) {
                $.each(result, function (i) {
                    $('#ngIdFac').append($('<option></option>').val(result[i].Id).html(result[i].Name));
                });
            },
            failure: function () {
                alert("Error");
            }
        });
        $('#btnPushVariant').click(function(e) {
            e.preventDefault();
            var jsonData = {};
            jsonData.Name = $('#ngVariant').val();
            jsonData.idFactory = $('#ngIdFac').val();
            var jsonPost = JSON.stringify(jsonData);
            $.ajax({
                type: "POST",
                data: jsonPost,
                url: "http://localhost:41393/api/Variants/",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                beforeSend: function () {
                    console.log("before send update viewer");
                },
                success: function (response) {
                    console.log(response);
                    if (response.status) {
                        table.ajax.reload();
                    }
                },
                error: function (request, status, error) {
                    console.log(error);
                },
                complete: function () {
                    console.log("finish add viewer");
                }
            });
        });

        $('#tableVariant').on('click', 'a.action_edit', function (e) {
            e.preventDefault();
            selectVariant = table.row($(this).closest('tr')).data();
            document.getElementById("ngVariant").value = selectVariant.Name;
            document.getElementById("ngIdFac").value = selectVariant.Pabrikan.ID;
            $('#btnPutVariant').prop("hidden", false);
            $('#btnDelVariant').prop("hidden", false);
        });

        $('#btnPutVariant').click(function (e) {
            e.preventDefault();
            selectVariant.Name = $('#ngVariant').val();
            selectVariant.Pabrikan.ID = $('#ngIdFac').val();
            $.ajax({
                url: 'http://localhost:41393/api/Variants/' + selectVariant.Id,
                type: 'PUT',
                dataType: 'json',
                data: selectVariant,
                success: function (data) {
                    console.log(data);
                    if (data.status) {
                        document.getElementById('btnPutVariant').style.visibility = 'hidden';
                        document.getElementById('btnDelVariant').style.visibility = 'hidden';
                        table.ajax.reload();
                    } else {
                        alert("Update gagal");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }

            });
        });
    });
</script>