﻿<script src="../../../Assets/plugins/datatables/jquery.dataTables.min.js"></script>
<div id="bodyContent">
    <!-- Recent Posts -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Menu Komponen</h4>
                    <form id="formFactory" class="floating-labels m-t-40">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group m-b-40">
                                    <input type="text" class="form-control" id="ngPartName" required>
                                    <span class="bar"></span>
                                    <label for="ngPartName">Nama Komponen</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-b-40">
                                    <input type="number" class="form-control" id="ngPartStock" required>
                                    <span class="bar"></span>
                                    <label for="ngPartStock">Jumlah Stok</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-b-40">
                                    <input type="number" class="form-control" id="ngPartPrice" required>
                                    <span class="bar"></span>
                                    <label for="ngPartPrice">Harga Satuan</label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group m-b-40">
                                    <select class="select2 m-b-10 select2-multiple" style="width: 100%"
                                            id="ngPartVariant" name="ngPartVariant" multiple="multiple"
                                            data-placeholder="Applicable Variant" required>
                                        <option >Pilih Variant</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        


                        <button type="button" class="btn btn-info" id="btnPushPart">Tambah Komponen</button>
                        <button type="button" class="btn btn-warning" id="btnPutPart" hidden="hidden">Edit Komponen</button>
                        <button type="button" class="btn btn-danger" id="btnDelPart" hidden="hidden">Hapus Komponen</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Data Variant</h4>
                    <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                    <div class="table-responsive m-t-40">
                        <table id="tablePart" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nama Part</th>
                                    <th>Harga Part</th>
                                    <th>Stok Part</th>
                                    <th>Created</th>
                                    <th>Create Date</th>
                                    <th>Updated</th>
                                    <th>Update Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="../../../Assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
<script src="../../../Assets/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        var arrVarr = [];
        var arrSelect = [];
        var selectPart = {};

        $("#ngPartVariant").select2();

        var table = $('#tablePart').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": true,
            "ordering": false,
            "paging": true,
            "ajax": "http://localhost:41393/api/getPartDataTable",
            "columns": [
                { "data": "Id" },
                { "data": "Name" },
                { "data": "Price" },
                { "data": "Stock" },
                { "data": "CreatedBy" },
                { "data": "Created" },
                { "data": "UpdateBy" },
                { "data": "Updated" },
                {
                    data: null,
                    className: "center",
                    orderable: false,
                    defaultContent: '<a href="#" class="action_edit"><i class="fa fa-pencil text-inverse m-r-10"></i></a>'
                }
            ]
        });

        $.ajax({
            type: "GET",
            url: "http://localhost:41393/api/getVariantDropDown",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: {},
            success: function (result) {
                $.each(result, function (i) {
                    $('#ngPartVariant').append($('<option></option>').val(result[i].Id).html(result[i].Name));
                });
            },
            failure: function () {
                alert("Error");
            }
        });

        $('#btnPushPart').click(function (e) {
            e.preventDefault();
            arrVarr = $("#ngPartVariant").val();
            console.log(arrVarr);
            var part = {};
            part.Name = $("#ngPartName").val();
            part.Stock = $("#ngPartStock").val();
            part.Price = $("#ngPartPrice").val();
            part.Variants = [];
            var length = arrVarr.length;

            for (var i = 0; i < length ; i++) {
                console.log(i);
                part.Variants.push({});
                part.Variants[i].ID = arrVarr[i];
            }

            var jsonPost = JSON.stringify(part);
            $.ajax({
                type: "POST",
                data: jsonPost,
                url: "http://localhost:41393/api/Parts",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                beforeSend: function () {
                    console.log("before send update viewer");
                },
                success: function (response) {
                    console.log(response);
                    if (response.status) {
                        table.ajax.reload();
                    }
                },
                error: function (request, status, error) {
                    console.log(error);
                },
                complete: function () {
                    console.log("finish add viewer");
                }
            });
        });

        $('#tablePart').on('click', 'a.action_edit', function (e) {
            e.preventDefault();
            arrSelect = [];
            selectPart = table.row($(this).closest('tr')).data();
            document.getElementById("ngPartName").value = selectPart.Name;
            document.getElementById("ngPartStock").value = selectPart.Stock;
            document.getElementById("ngPartPrice").value = selectPart.Price;
            for (var i = 0; i < selectPart.Variants.length; i++) {
                
                arrSelect.push(selectPart.Variants[i].Id.toString());
            }
            console.log(arrSelect);
            $("#ngPartVariant").select2('val', arrSelect).trigger('change');

            $('#btnPutPart').prop("hidden", false);
            $('#btnDelPart').prop("hidden", false);
        });

    });
</script>