﻿<script src="../../../Assets/plugins/datatables/jquery.dataTables.min.js"></script>
<div id="bodyContent">
    <!-- Recent Posts -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Menu Pembelian</h4>
                    <h4 class="card-title">Data Part</h4>
                    <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                    <div class="table-responsive m-t-40">
                        <table id="tablePart" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nama Part</th>
                                <th>Harga Part</th>
                                <th>Stok Part</th>
                                <th>Harga Jual</th>
                                <th>Cart</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                       
                        <h3 class="box-title m-t-40">Detail Beli</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nama Part</label>
                                    <input type="text" class="form-control" disabled id="ngDetBeliNama">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Harga Satuan</label>
                                    <input type="number" class="form-control" disabled id="ngStokSatuan">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Total Bayar</label>
                                    <input type="number" class="form-control" disabled id="ngTotalBayar">
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Jumlah Beli</label>
                                    <input type="number" class="form-control" id="ngJmlBeli">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Distributor</label>
                                    <select class="form-control custom-select" id="ngPembVar">
                                        <option>--Distributor--</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success" id="btnAddToCart"> <i class="fa fa-check"></i> Add To Cart</button>
                        <button type="button" class="btn btn-inverse">Cancel</button>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Menu Pembelian</h4>
                    <h4 class="card-title">Data Part</h4>
                    <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                    <div class="table-responsive m-t-40">
                        <table id="tableCart" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nama Part</th>
                                <th>Jml Beli</th>
                                <th>Total Bayar</th>
                                <th>Id Supplier</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="row">    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Jumlah Bayar Total</label>
                                <input type="number" class="form-control" id="ngJmlBayarTotal">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success" id="btnPushCart"> <i class="fa fa-check"></i>Bayar Pembelian</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>   
    </div>
</div>

<link href="../../../Assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
<script src="../../../Assets/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        var itemCart = {};
        var arrCart = [];
        var selectPart = {};
        var totalBayar = 0;

        $("#ngPartVariant").select2();

        var t = $('#tableCart').DataTable();

        var table = $('#tablePart').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": true,
            "ordering": false,
            "paging": true,
            "ajax": "http://localhost:41393/api/getPenjualanDT",
            "columns": [
                { "data": "Id" },
                { "data": "Name" },
                { "data": "Price" },
                { "data": "Stock" },
                { "data": "SellPrice" },
                {
                    data: null,
                    className: "center",
                    orderable: false,
                    defaultContent: '<a href="#" class="action_edit"><i class="fa fa-cart-plus text-inverse m-r-10"></i></a>'
                }
            ]
        });

        $.ajax({
            type: "GET",
            url: "http://localhost:41393/api/getSuppDropDown",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            data: {},
            success: function (result) {
                $.each(result, function (i) {
                    $('#ngPembVar').append($('<option></option>').val(result[i].Id).html(result[i].Name));
                });
            },
            failure: function () {
                alert("Error");
            }
        });




        $('#tablePart').on('click', 'a.action_edit', function (e) {
            e.preventDefault();
            selectPart = {};
            selectPart = table.row($(this).closest('tr')).data();
            document.getElementById("ngDetBeliNama").value = selectPart.Name;
            document.getElementById("ngStokSatuan").value = selectPart.Price;
            document.getElementById("ngTotalBayar").value = selectPart.Price;

        });

        $('#ngJmlBeli').on('input', function (e) {
            //            alert($("#ngJmlBeli").val());
            document.getElementById("ngTotalBayar").value = parseInt($("#ngJmlBeli").val()) * parseInt(selectPart.Price);
            selectPart.jmlBeli = parseInt($("#ngJmlBeli").val());

        });

        $('#btnAddToCart').on('click', function (e) {
            e.preventDefault();
            itemCart = {};
            itemCart.jmlBeli = parseInt($("#ngJmlBeli").val());
            itemCart.SupplierId = parseInt($("#ngPembVar").val());
            itemCart.PartId = parseInt(selectPart.Id);
            arrCart.push(itemCart);
            console.log(itemCart);
            totalBayar = parseInt(totalBayar) + parseInt($("#ngTotalBayar").val());
            document.getElementById("ngJmlBayarTotal").value = totalBayar;
            t.row.add([
                selectPart.Id,
                selectPart.Name,
                itemCart.jmlBeli,
                $("#ngTotalBayar").val(),
                itemCart.SupplierId
            ]).draw(false);
        });

        $('#btnPushCart').on('click', function (e) {
            e.preventDefault();
            var raw = {count : arrCart.length, data : arrCart}
            var jsondata = JSON.stringify(raw);
            console.log(jsondata);
            $.ajax({
                type: "POST",
                data: jsondata,
                url: "http://localhost:41393/api/pushCart",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    console.log("before send update viewer");
                },
                success: function (response) {
                    //TO:DO
                    console.log(response);
                    if (response.status) {
                        alert("insert berhasil");
                        table.ajax.reload();
                    }
                },
                error: function (request, status, error) {
                    //TO:DO
                    console.log(error);
                },
                complete: function () {
                    console.log("finish add viewer");
                }
            });
        });

    });
</script>