﻿@model Bengkel.ViewModel.VMIndexAdmin

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin/_LayoutAdmin.cshtml";
}

<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Kelola Pegawai</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Pegawai</a></li>
            <li class="breadcrumb-item active">Daftar Pegawai</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="text-muted m-b-20">
                    @Html.ActionLink("Tambah Baru", "Create", null, new { @class = "btn btn-info" })
                </p>
                <div class="table-responsive">
                    <table id="table" class="table table-bordered">
                        <thead>
                        
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Jabatan</th>
@*                            <th class="text-nowrap">Aksi</th>*@
                        </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Users)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td>
                                        @foreach (var identityUserRole in item.Roles)
                                        {
                                            <span>@Html.DisplayFor(modelItem => identityUserRole)</span>
                                        }
                                    </td>
@*                                    <td class="text-nowrap">*@
@*$1$                                        <a href="@Url.Action("Edit", new { permalink = item.Id})" data-toggle="tooltip" data-original-title="Edit">#1#*@
@*$1$                                            <i class="fa fa-pencil text-info m-r-10"></i>#1#*@
@*$1$                                        </a>#1#*@
@*$1$                                        <a href="@Url.Action("Delete", new { id = item.Id})" data-toggle="tooltip" data-original-title="Delete">#1#*@
@*$1$                                            <i class="fa fa-trash-o text-danger m-r-10"></i>#1#*@
@*$1$                                        </a>#1#*@
@*$1$                                        <a href="@Url.Action("Details", new { permalink = item.Id})" data-toggle="tooltip" data-original-title="Details">#1#*@
@*$1$                                            <i class="fa fa-clone m-r-10"></i>#1#*@
@*$1$                                        </a>#1#*@
@*$1$                                        @if (User.IsInRole("Editor"))#1#*@
@*$1$                                        {#1#*@
@*$1$                                            <a class="publish" href="@item.Id" data-toggle="tooltip" data-original-title="Publish">#1#*@
@*$1$                                                <i class="fa fa-rocket m-r-10"></i>#1#*@
@*$1$                                            </a>#1#*@
@*$1$                                        }#1#*@
@*                                    </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
